%TMPL:DEF{"diff"}%%DIFF{
  newrev="%TMPL:P{"diff::newrev"}%"
  oldrev="%TMPL:P{"diff::oldrev"}%"
  context="%TMPL:P{"diff::context"}%"
  offset="%TMPL:P{"diff::offset"}%"
  exclude="%TMPL:P{"diff::exclude"}%"
}%%TMPL:END%

%TMPL:DEF{"diff::newrev"}%%URLPARAM{"rev" default="%URLPARAM{"newrev" default="%URLPARAM{"rev1"}%"}%"}%%TMPL:END%
%TMPL:DEF{"diff::oldrev"}%%URLPARAM{"oldrev" default="%URLPARAM{"rev2"}%"}%%TMPL:END%
%TMPL:DEF{"diff::context"}%%URLPARAM{"context" default="2"}%%TMPL:END%
%TMPL:DEF{"diff::offset"}%%URLPARAM{"offset" default="1"}%%TMPL:END%
%TMPL:DEF{"diff::exclude"}%%URLPARAM{"exclude"}%%TMPL:END%

%TMPL:DEF{"diff::control"}%<div class="foswikiDiffControl foswikiNormal jqUITooltip" data-theme="info" data-arrow="on" data-position="top">
%TMPL:P{"diff::control::start"}%
%TMPL:P{"diff::control::prev"}%
%TMPL:P{"diff::control::next"}%
%TMPL:P{"diff::control::end"}%
%TMPL:P{"diff::control::quit"}%
</div>%TMPL:END%

%TMPL:DEF{"diff::control::start::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-start.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::start::disabled::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-start-gray.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::prev::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-left.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::prev::disabled::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-left-gray.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::next::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-right.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::next::disabled::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-right-gray.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::end::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-end.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::end::disabled::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-end-gray.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::quit::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/FamFamFamSilkIcons/cross.png' alt='quit' width='16' height='16' />%TMPL:END%

%TMPL:DEF{"diff::control::quit"}%<a href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%'>%TMPL:P{"diff::control::quit::icon"}%</a>%TMPL:END%

%TMPL:DEF{"diff::control::start"}%%IF{"$oldrev>1"
  then="<a href='%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%?rev=2&context=%TMPL:P{"context"}%&offset=$offset&exclude=$exclude' title='%MAKETEXT{"oldest revision"}%' accesskey='a'>
          %TMPL:P{"diff::control::start::icon"}%
        </a>"
  else="<a title='%MAKETEXT{"oldest revision"}%' class='disabled'>
          %TMPL:P{"diff::control::start::disabled::icon"}%
        </a>"
}%%TMPL:END%

%TMPL:DEF{"diff::control::prev"}%%IF{"$oldrev>1"
  then="<a href='%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%?rev=$oldrev&context=%TMPL:P{"context"}%&offset=$offset&exclude=$exclude' title='%MAKETEXT{"previous revision"}%' accesskey='s'>
          %TMPL:P{"diff::control::prev::icon"}%
        </a>"
  else="<a title='%MAKETEXT{"previous revision"}%' class='disabled'>
          %TMPL:P{"diff::control::prev::disabled::icon"}%
        </a>"
}%%TMPL:END%

%TMPL:DEF{"diff::control::next"}%%IF{"$newrev<$maxrev"
  then="<a href='%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%?rev=$nextrev&context=%TMPL:P{"context"}%&offset=$offset&exclude=$exclude' title='%MAKETEXT{"next revision"}%' accesskey='d'>
          %TMPL:P{"diff::control::next::icon"}%
        </a>"
  else="<a title='%MAKETEXT{"next revision"}%' class='disabled'>
          %TMPL:P{"diff::control::next::disabled::icon"}%
        </a>"
}%%TMPL:END%

%TMPL:DEF{"diff::control::end"}%%IF{"$newrev<$maxrev"
  then="<a href='%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%?rev=$maxrev&context=%TMPL:P{"context"}%&offset=$offset&exclude=$exclude' title='%MAKETEXT{"most recent revision"}%' accesskey='f'>
          %TMPL:P{"diff::control::end::icon"}%
        </a>"
  else="<a title='%MAKETEXT{"most recent revision"}%' class='disabled'>
          %TMPL:P{"diff::control::end::disabled::icon"}%
        </a>"
}%%TMPL:END%

%TMPL:DEF{"diff::beforetext"}%<h1>%IF{"'$oldweb' != '$newweb' or '$oldtopic' != '$newtopic'"
  then="<nop>$oldweb.$oldtopic vs <nop>$newweb.$newtopic"
  else="[[$oldweb.$oldtopic]]"
}% %TMPL:P{"diff::control"}% </h1>
<div class="foswikiDiffContainer" data-max-rev="$maxrev">
<table>
  <thead>
    <tr>
      <th class='old'>
        <h2>
          <a href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=$oldrev' title='%MAKETEXT{"view this version"}%'>%MAKETEXT{"Revision"}%</a>
          <select name="oldrev" class="foswikiDiffSelect foswikiNormal">
            <option>$oldrev</option>
          </select>
          <span class='foswikiGrayText foswikiNormal'>
            %JQICON{"fa-calendar"}% $olddate |
            %JQICON{"fa-user"}% [[%USERSWEB%.$oldauthor]]
          </span>
        </h2>
        %TMPL:P{context="RevCommentPluginEnabled" then="diff::revcomment" rev="$oldrev"}%<!-- -->
      </th>
      <th class='index'></th>
      <th class='new'>
        <h2>
          <a href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=$newrev' title='%MAKETEXT{"view this version"}%'>%MAKETEXT{"Revision"}%</a>
          <select name="newrev" class="foswikiDiffSelect foswikiNormal">
            <option>$newrev</option>
          </select>
          <span class='foswikiGrayText foswikiNormal'>
            %JQICON{"fa-calendar"}% $newdate |
            %JQICON{"fa-user"}% [[%USERSWEB%.$newauthor]]
          </span>
        </h2>
        %TMPL:P{context="RevCommentPluginEnabled" then="diff::revcomment" rev="$newrev"}%<!-- -->
      </th>
    </tr>
  </thead>
</table>
%TABPANE{class="plain" animate="on" remember="on"}%%TMPL:END%

%TMPL:DEF{"diff::revcomment"}%%REVCOMMENT{rev="%rev%"
  format="<div class='foswikiDiffRevComment'><b>%MAKETEXT{"Comment"}%:</b> $text</div>"
}%%TMPL:END%

%TMPL:DEF{"diff::aftertext"}%%ENDTABPANE%%TMPL:END%

%TMPL:DEF{"diff::header"}%%TAB{"$title"}%
<div class='foswikiDiffType $type'>
<table>
  <tbody>
%TMPL:END%

%TMPL:DEF{"diff::format"}%<literal>
    <tr class='$action'>
      <td class='old'>
        <pre>$old</pre>
      </td>
      <td class='index'><span>$index</span></td>
      <td class='new'>
        <pre>$new</pre>
      </td>
    </tr>
</literal>%TMPL:END%

%TMPL:DEF{"diff::meta_format"}%<literal>
    <tr class='$action'>
      <td class='old'>
        %IF{"'$name'!=''" then="<b>$name:</b>" else="<!-- -->"}%
        <pre>$old</pre>
      </td>
      <td class='index'></td>
      <td class='new'>
        %IF{"'$name'!=''" then="<b>$name:</b>" else="<!-- -->"}%
        <pre>$new</pre>
      </td>
    </tr>
</literal>%TMPL:END%

%TMPL:DEF{"diff::no_differences"}%<div class='foswikiErrorMessage'>%MAKETEXT{"no differences where found"}%</div>%TMPL:END%

%TMPL:DEF{"diff::separator"}%%TMPL:END%

%TMPL:DEF{"diff::footer"}%
  </tbody>
</table>
</div>%ENDTAB%%TMPL:END%
