%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"diff"}%

%TMPL:DEF{"bodyclass"}%natDiffBody%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"form"}%%TMPL:END%
%TMPL:DEF{"attachments"}%%TMPL:END%
%TMPL:DEF{"metadata"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%

%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%">%MAKETEXT{"Differences"}%</a>%TMPL:END%
