%TMPL:DEF{"content"}%%TMPL:P{"diff"}%%TMPL:END%

%TMPL:DEF{"diff"}%%DIFF{
  newrev="%TMPL:P{"newrev"}%"
  oldrev="%TMPL:P{"oldrev"}%"
  context="%TMPL:P{"context"}%"
  offset="%TMPL:P{"offset"}%"
}%%TMPL:END%

%TMPL:DEF{"newrev"}%%URLPARAM{"rev" default="%URLPARAM{"newrev" default="%URLPARAM{"rev1"}%"}%"}%%TMPL:END%
%TMPL:DEF{"oldrev"}%%URLPARAM{"oldrev" default="%URLPARAM{"rev2"}%"}%%TMPL:END%
%TMPL:DEF{"context"}%%URLPARAM{"context" default="2"}%%TMPL:END%
%TMPL:DEF{"offset"}%%URLPARAM{"offset" default="1"}%%TMPL:END%

%TMPL:DEF{"diff::control"}%<div class="foswikiDiffControl foswikiNormal jqUITooltip" data-theme="info" data-arrow="on" data-position="top">
%TMPL:P{"diff::control::start"}%
%TMPL:P{"diff::control::prev"}%
%TMPL:P{"diff::control::next"}%
%TMPL:P{"diff::control::end"}%
%TMPL:P{"diff::control::quit"}%
</div>%TMPL:END%

%TMPL:DEF{"diff::control::start::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-start.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::start::disabled::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-start-gray.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::prev::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-left.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::prev::disabled::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-left-gray.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::next::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-right.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::next::disabled::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-right-gray.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::end::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-end.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::end::disabled::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/DiffPlugin/control-end-gray.png' alt='start' width='16' height='16' />%TMPL:END%
%TMPL:DEF{"diff::control::quit::icon"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/FamFamFamSilkIcons/cross.png' alt='quit' width='16' height='16' />%TMPL:END%

%TMPL:DEF{"diff::control::start"}%%IF{"$oldrev>1"
  then="<a href='%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%?rev=2&context=%TMPL:P{"context"}%&offset=$offset' title='%MAKETEXT{"Oldest revision"}%'>
          %TMPL:P{"diff::control::start::icon"}%
        </a>"
  else="<a title='%MAKETEXT{"Oldest revision"}%' class='disabled'>
          %TMPL:P{"diff::control::start::disabled::icon"}%
        </a>"
}%%TMPL:END%

%TMPL:DEF{"diff::control::prev"}%%IF{"$oldrev>1"
  then="<a href='%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%?rev=$oldrev&context=%TMPL:P{"context"}%&offset=$offset' title='%MAKETEXT{"Previous revision"}%'>
          %TMPL:P{"diff::control::prev::icon"}%
        </a>"
  else="<a title='%MAKETEXT{"Previous revision"}%' class='disabled'>
          %TMPL:P{"diff::control::prev::disabled::icon"}%
        </a>"
}%%TMPL:END%

%TMPL:DEF{"diff::control::next"}%%IF{"$newrev<$maxrev"
  then="<a href='%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%?rev=$nextrev&context=%TMPL:P{"context"}%&offset=$offset' title='%MAKETEXT{"Next revision"}%'>
          %TMPL:P{"diff::control::next::icon"}%
        </a>"
  else="<a title='%MAKETEXT{"Next revision"}%' class='disabled'>
          %TMPL:P{"diff::control::next::disabled::icon"}%
        </a>"
}%%TMPL:END%

%TMPL:DEF{"diff::control::end"}%%IF{"$newrev<$maxrev"
  then="<a href='%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%?rev=$maxrev&context=%TMPL:P{"context"}%&offset=$offset' title='%MAKETEXT{"Most recent revision"}%'>
          %TMPL:P{"diff::control::end::icon"}%
        </a>"
  else="<a title='%MAKETEXT{"Most recent revision"}%' class='disabled'>
          %TMPL:P{"diff::control::end::disabled::icon"}%
        </a>"
}%%TMPL:END%

%TMPL:DEF{"diff::control::quit"}%<a href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%'>%TMPL:P{"diff::control::quit::icon"}%</a>%TMPL:END%

%TMPL:DEF{"diff::beforetext"}%<h1>%IF{"'$oldweb' != '$newweb' or '$oldtopic' != '$newtopic'"
  then="<nop>$oldweb.$oldtopic vs <nop>$newweb.$newtopic"
  else="[[$oldweb.$oldtopic]]"
}% %TMPL:P{"diff::control"}% </h1>
<div class='foswikiDiffContainer'>
<table>
  <thead> 
    <tr>
      <th class='old'>
        <h2>
          %MAKETEXT{"<a href='[_1]'>Revision [_2]</a>" args="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=$oldrev,$oldrev"}%
        </h2>
        <div class='foswikiGrayText'>
          %JQICON{"fa-calendar"}% $olddate |
          %JQICON{"fa-user"}% [[%USERSWEB%.$oldauthor]]
        </div>
      </th>
      <th class='index'></th>
      <th class='new'>
        <h2>
          %MAKETEXT{"<a href='[_1]'>Revision [_2]</a>" args="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=$newrev,$newrev"}%
        </h2>
        <div class='foswikiGrayText'>
          %JQICON{"fa-calendar"}% $newdate |
          %JQICON{"fa-user"}% [[%USERSWEB%.$newauthor]]
        </div>
      </th>
    </tr>
  </thead>
</table>
</div>
%TABPANE{class="plain" animate="on"}%%TMPL:END%

%TMPL:DEF{"diff::aftertext"}%%ENDTABPANE%%TMPL:END%

%TMPL:DEF{"diff::header"}%%TAB{"$title"}%
<div class='foswikiDiffContainer $type'>
<table>
  <tbody>
%TMPL:END%

%TMPL:DEF{"diff::format"}%<literal>
    <tr class='$action'>
      <td class='old'>
        <pre>$old</pre>
      </td>
      <td class='index'><span>$index</span></td>
      <td class='new'>
        <pre>$new</pre>
      </td>
    </tr>
</literal>%TMPL:END%

%TMPL:DEF{"diff::meta_format"}%<literal>
    <tr class='$action'>
      <td class='old'>
        <b>$name:</b>
        <pre>$old</pre>
      </td>
      <td class='index'></td>
      <td class='new'>
        <b>$name:</b>
        <pre>$new</pre>
      </td>
    </tr>
</literal>%TMPL:END%

%TMPL:DEF{"diff::no_differences"}%<div class='foswikiErrorMessage'>%MAKETEXT{"no differences where found"}%</div>%TMPL:END%

%TMPL:DEF{"diff::separator"}%%TMPL:END%

%TMPL:DEF{"diff::footer"}%
  </tbody>
</table>
</div>%ENDTAB%%TMPL:END%
